<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Authentication</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                /* color: blueviolet; */
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
                color: white;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <header>
            <h1>Welcome to Google OAuth Authentication Testing  </h1>
            <h2>Homepage</h2>
        </header>
        <main>
            <p>Click on the Login button to login with Google:)</p>
        </main>
    </body>
</html>